.banner {
    position: relative;
    border-radius: 25px;

    .banner-img {
        height: 220px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
        filter: brightness(60%);

        @media screen and (max-width: 900px) {
            height: 140px;
            border-radius: 15px;
        }
    }

    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        color: white;
        z-index: 1;
        font-weight: 500;
        font-size: 48px;

        @media screen and (max-width: 1300px) {
            font-size: 32px;
        }

        @media screen and (max-width: 900px) {
            font-size: 24px;
            text-align: left;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 50%;
        }
    }
}