@import 'Vars';

.block-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 50px;
    background-color: #F6F6F6;
    border-radius: $border-radius;
    margin-top: 60px;
    justify-content: center;

    @media screen and (max-width: 1300px) {
        gap: 25px;
    }

    @media screen and (max-width: 900px) {
        padding: 0;
        background-color: unset;
        margin-top: 30px;
    }
}