@import 'Vars';

.all-star {
    display: flex;
    gap: 10px
}

.color-star {
    font-size: 25px;
    content: url(../img/colorStar.svg);
}

.empty-star {
    font-size: 25px;
    content: url(../img/emptyStar.svg);
}